/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}
@font-face {
    font-family: 'haikus_script_v.08regular';
    src: url('haikuscript-webfont.eot');
    src: url('haikuscript-webfont.eot?#iefix') format('embedded-opentype'),
         url('haikuscript-webfont.woff2') format('woff2'),
         url('haikuscript-webfont.woff') format('woff'),
         url('haikuscript-webfont.ttf') format('truetype'),
         url('haikuscript-webfont.svg#haikus_script_v.08regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
#menu{
font-family: 'Alegreya Sans SC', sans-serif;
}
#name{
  letter-spacing:5px;
  font-size:18px;
  font-family: 'Alegreya Sans SC', sans-serif;letter-spacing:5px;font-size:18px;
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}