/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #cfe2ab;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#logo-container{
  font-family: 'Alice', serif;
  letter-spacing:5px;
  font-size:18px;
  display: none;
  color: #a68a62;
}
#nav-mobile{
  font-family: 'Alice', serif;
}
#nbar{
  font-family: 'Alice', serif;
}
#home{

  margin-bottom: 10px;
  background-color: #fff9db;
}
#mid{
  margin: 0px;
  padding: 0px;
}
#tag{
  font-family: 'Alice', serif;
  color: #f7ffe7;
}
#frizz{
  opacity: .7;
}

.normal{
  padding-top: 13%;
  padding-bottom: 13%;
  margin-bottom: 20px;
}

.head1{
  font-family: 'Alice', serif;
}
#about{
  color:#a68a62;
}
#services{
  color: #a2bf6c;

}
#serv{
  text-align: center;
  font-family: 'Alice', serif;
  color:#a68a62;

}
.spec{
  text-align: center;
  font-family: 'Alice', serif;
  color:#a68a62;
  opacity: .8;
  font-size: 15px;
}
#con{
  color:#a68a62;
}

#foot{
  background-color: #fff9db;
}
#all{
  color:#a68a62;
  font-size: 10px;
}
