#top{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: 4px;
}

#left{
    float:left;
   
    
}

#right{
    float:right;

}
header[role="banner"] #logo-main {
  display: block;
  margin: 20px auto;
}
#navbar-primary.navbar-default {

  border: none;
}
#navbar-primary.navbar-default .navbar-nav {
  width: 100%;
  text-align: center;
}
#navbar-primary.navbar-default .navbar-nav > li {
  display: inline-block;
  float: none;
}
#navbar-primary.navbar-default .navbar-nav > li > a {
  padding-left: 30px;
  padding-right: 30px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
#home-background{
  background-image: url("http://s3.postimg.org/o0amkw51v/wedding_hairstyle_popular_vintage_wedding_hairst.jpg");
  height: 800px;
  width:100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#hair{
  
}
